@model IEnumerable<PaulSchool.Models.ApplicationCommissioning>

@{
    ViewBag.Title = "All Commissioning Applications";
}

<h2>List of all Commissioning Applications - including "Approved" applications</h2>

@{if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
  {
      @Html.ActionLink("List of Students who qualify for Commissioning", "QualifyForCommissioning")
      <p>
          This is a list of all current applications for Commissioning:
      </p>
      
      <table>
          <tr>
              <th>
                  Name
              </th>
              <th>
                  Recommendation Filed?
              </th>
              <th>
                  Personal Statement
              </th>
              <th>
                  Application Fee Paid
              </th>
              <th>
                  Application Approved?
              </th>
              <th></th>
          </tr>

          @foreach (var item in Model)
          {
              <tr>
                  <td>
                      @Html.DisplayFor(modelItem => item.Student.FirstMidName) @Html.DisplayFor(modelItem => item.Student.LastName)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.RecommendationFiled)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.PersonalStatement)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.ApplicationFeePaid)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.Approved)
                  </td>
                  <td>
                      @Html.ActionLink("Edit / Update", "Edit", new { id = item.Id }) |
                      @Html.ActionLink("Details / Status", "Details", new { id = item.Id }) |
                      @Html.ActionLink("Delete / Deny", "Delete", new { id = item.Id })
                  </td>
              </tr>
          }

      </table>
      @Html.ActionLink("See list without approved Commissioning applications", "CommissioningApplications")

  }}
