@model PaulSchool.Models.ApplicationCommissioning

@{
    this.ViewBag.Title = "An Application for Commissioning";

}

<h2>Details of application</h2>
<p>
    This applicant was told that they @this.ViewBag.doOrDoNotQualify meet the minimum Course completion requirements according to this database.
</p>
<fieldset>
    @{
        if (this.Model.ReCommissioning)
        {
            <legend>Re-Commissioning Application</legend>
        }
        else
        {
            <legend>Commissioning Application </legend>
        }

    }
    
    <div class="display-label">Applicant's name</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Student.FirstMidName) @this.Html.DisplayFor(model => model.Student.LastName)
        <p>
            You can click @this.Html.ActionLink("here", "Details", "Student", new { id = this.Model.StudentID }, null) to see the rest of the student's basic profile information.
        </p>
    </div>
    
    <div class="editor-label">
        Is this an application for Re-Commissioning? (this box will be un-checked if applicant is applying for Commissioning for the first time)
    </div>
    <div class="editor-field">
        @this.Html.EditorFor(model => model.ReCommissioning)
    </div>

    <div class="display-label">Has their recommendation been filed? (an admin can edit this field by clicking "edit" at the button of this page)</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.RecommendationFiled)
    </div>

    <div class="display-label">PersonalStatement</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.PersonalStatement)
    </div>
    
    <div class="display-label">Applicant has performed their Diocesan sponsored day of reflection</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.DayOfReflection)
    </div>

    <div class="display-label">Applicant has paid application fee</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.ApplicationFeePaid)
    </div>
    
    <div class="display-label">Date and time application was filed</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.DateFiled)
    </div>
    
    <div class="display-label">Application approved?</div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Approved)
    </div>
    
    @{
        if (this.Model.Approved)
        {
            <div class="display-label">Date approved</div>
            <div class="display-field">
                @this.Html.DisplayFor(model => model.DateApproved)
            </div>
        }

    }
    
</fieldset>
<p>
    @this.Html.ActionLink("Edit / Update Application", "Edit", new { id = this.Model.Id }) |
    @this.Html.ActionLink("Deny Application", "Delete", new { id = this.Model.Id }) |
    @this.Html.ActionLink("Back to List of Applications", "Index")
</p>