@{
    ViewBag.Title = "Index";
}

<h2>Commissioning</h2>
@{
    if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
    {
        <div>
            <p>
                @Html.ActionLink("List of Students who qualify for Commissioning", "QualifyForCommissioning")
            </p>
        </div>
        <div>
            <p>
                @Html.ActionLink("List of unapproved applications for Commissioning", "CommissioningApplications")
            </p>
        </div>
        <div>
            <p>
                @Html.ActionLink("List of all applications for Commissioning", "AllCommissioningApplications")
            </p>
        </div>
        <div>
            <p>
                @Html.ActionLink("List of unapproved applications for Re-Commissioning", "ReCommissioningApplications")
            </p>
        </div>
        <div>
            <p>
                @Html.ActionLink("List of all applications for Re-Commissioning", "AllReCommissioningApplications")
            </p>
        </div>
    }
}
<div>
    <p>
        @Html.ActionLink("Apply for Commissioning or Re-Commissioning", "Create")
    </p>
</div>
<div>
    <p>
        @Html.ActionLink("Printable Recommendation Form", "PrintableRecommendationForm")
    </p>
</div>