@{
    ViewBag.Title = "Index";
}

<h2>Commissioning</h2>
@{
    if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
    {
        <div>
            @Html.ActionLink("List of Students who qualify for Commissioning", "QualifyForCommissioning")
        </div>
        <div>
            @Html.ActionLink("List of unapproved applications for Commissioning", "CommissioningApplications")
        </div>
        <div>
            @Html.ActionLink("List of all applications for Commissioning", "AllCommissioningApplications")
        </div>
        <div>
            @Html.ActionLink("List of unapproved applications for Re-Commissioning", "ReCommissioningApplications")
        </div>
        <div>
            @Html.ActionLink("List of all applications for Re-Commissioning", "AllReCommissioningApplications")
        </div>
    }
}
<div>
    @Html.ActionLink("Apply for Commissioning or Re-Commissioning", "Create")
</div>
