@{
    ViewBag.Title = "Index";
}

<h2>Commissioning</h2>
@{
    if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
    {
        <div>
            <p>
                @Html.ActionLink("List of Students who qualify for Commissioning", "QualifyForCommissioning")
            </p>
        </div>
        <div>
            <p>
                @Html.ActionLink("List of unapproved applications for Commissioning", "CommissioningApplications")
            </p>
        </div>
        <div>
            <p>
                @Html.ActionLink("List of all applications for Commissioning", "AllCommissioningApplications")
            </p>
        </div>
        <div>
            <p>
                @Html.ActionLink("List of unapproved applications for Re-Commissioning", "ReCommissioningApplications")
            </p>
        </div>
        <div>
            <p>
                @Html.ActionLink("List of all applications for Re-Commissioning", "AllReCommissioningApplications")
            </p>
        </div>
    }
}
<div>
    <p>
        @Html.ActionLink("Apply for Commissioning or Re-Commissioning", "Create")
    </p>
</div>
<div>
    <p>
        @Html.ActionLink("Printable Recommendation Form", "RecommendationForm")
    </p>
</div>
<div>
        <p>
            In addition to the above application, you are responsible for providing/completing the following steps to the Department of Evangelization and Catechesis Office of Religious Education at the St. Paul School of Catechesis when applying for Commissioning or Re-Commissioning (performed every 5 years):
        </p>
        <li>
            A Recommendation form from a Pastor, parish catechetical leader (DRE), principal, or ministry supervisor attesting to competence as a qualified catechist (@Html.ActionLink("printable here", "RecommendationForm")).
        </li>
        <li>
            You must have completed a Diocesan sponsored day of reflection.
        </li>
        <li>
            You must have paid the Application Fee (submit in person along with above recommendation form).
        </li>
        <p>
            Please speak to an Admin if you have any questions.
        </p>
</div>