@model PaulSchool.ViewModels.AttendanceReportViewModel
@{
    ViewBag.Title = "AttendanceView";
}
<script src="@Url.Content("~/Scripts/AttendanceForm.js")" type="text/javascript"></script>
<h2>
    Details for @ViewBag.CourseName
</h2>
<table>
    <thead>
        <tr>
            <th>
                Attendance Day
            </th>
            @foreach (var attendanceDay in Model.AttendanceDays)
            {
                <th>@attendanceDay
                </th>
            }
            <th>
                Edit Student's Attendance
            </th>
            <th>
                Grade
            </th>
            <th>
                Edit Grade / Comments
            </th>
        </tr>
    </thead>
    <tbody id="@Model.courseId">
        @foreach (var student in Model.Students)
        {
            <tr id="@student.StudentID">
                <td>@student.LastName</td>
                @foreach (var attendanceDay in Model.AttendanceDays)
                {
                    <td id="@attendanceDay" class="attendance">
                        <span>
                            @Model.IsPresent(student, attendanceDay)
                        </span>
                    </td>
                }
                <td>@Html.ActionLink("click", "EditIndividualAttendance", new { id = Model.courseId, studentId = student.StudentID })</td>
                <td>@Html.Raw(Model.Enrollments.FirstOrDefault( o => o.StudentID == student.StudentID).Grade)</td>
                <td>@Html.ActionLink("click", "EditComment", new { studentId = student.StudentID, courseId = Model.courseId })</td>
            </tr>
        }
    </tbody>
</table>
@{
    if (User.IsInRole("Instructor") | User.IsInRole("Administrator") | User.IsInRole("SuperAdministrator"))
    {
        <div>
            <p>
                @Html.ActionLink("Click here", "CompleteCourse", new { id = Model.courseId }, new { onclick = "return confirm('Are you sure you are ready to mark this Course as Complete?  You will not be able to edit this Course's attendance, grades, or comments after you do this.');" }) to mark this Course as "Complete."  Doing so will make this Course uneditable.
            </p>
            @{if (User.IsInRole("Administrator") | User.IsInRole("SuperAdministrator"))
              {
                  <p>
                      @Html.ActionLink("Click here", "ArchiveCourse", new { id = Model.courseId }, new { onclick = "return confirm('Are you sure you are ready to Archive this Course?  Administrators will not be able to edit this Course's attendance, grades, or comments after you do this.');" }) to Archive this Course."  Doing so will make this Course uneditable by Administrators.
                  </p>
              }
            }
        </div>
    }
}
<!--<script type="text/javascript">
    absentText = $.trim('@PaulSchool.Resources.PaulSchoolResource.Absent_Text').toLowerCase();
    presentText = $.trim('@PaulSchool.Resources.PaulSchoolResource.Present_Text').toLowerCase();
    updateAttendanceUrl = '@Url.Action("UpdateAttendance", "Attendance")';
</script>-->
