@using PaulSchool.Models
@model PaulSchool.ViewModels.AttendanceReportViewModel

@{
    ViewBag.Title = "StudentDetails";
}

<h2>StudentDetails</h2>
<p>    
    @{
        if (!string.IsNullOrEmpty(TempData["tempMessage"] as string))
        {
            <b class="error">@TempData["tempMessage"].ToString()</b>
        }
    }
</p>
<p>
    @{
        if(Model.Paid == false)
        {
            <h1>You have not paid for this course PUT A PAYPAL BUTTON HERE</h1>
        }
        else
        {
            <h1>You have paid for this course</h1>
        }
    }
</p>
<table>
    <thead>
        <tr>
            <th>Attendance Day</th>
            @foreach (int attendanceDay in Model.AttendanceDays)
            {
                <th>@attendanceDay</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model.Students)
        {
            <tr>
                <td>@student.LastName</td>
                @foreach (int attendanceDay in Model.AttendanceDays)
                {
                    <td>@Model.IsPresent(student, attendanceDay)</td>
                }
            </tr>
        }
    </tbody>
</table>
<h4>Comments made by your Instructor:</h4>
@Model.Comments