@model IEnumerable<PaulSchool.Models.CommissioningRequirements>

@{
    ViewBag.Title = "Index";
}

<h2>Requirements for Commissioning</h2>
<p>
    There should only be one row listed below (default of 6 Core Courses Required and 2 Elective Courses Required).  It is highly unlikely that anything here will ever need to change.  Make changes with extreme caution.
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            CoreCoursesRequired
        </th>
        <th>
            ElectiveCoursesRequired
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoreCoursesRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectiveCoursesRequired)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
