@model PaulSchool.Models.Student

@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>
<p>
    This is the total number of Core Classes Passed: @ViewBag.coresPassed  @ViewBag.coresNeeded core courses are needed to apply for Commissioning.
</p>
<p>
    This is the total number of Electives Passed: @ViewBag.electivesPassed  @ViewBag.electivesNeeded electives are neededto apply for Commissioning.
</p>

<fieldset>
    <legend>Student</legend>

    <p><b>Name:</b> @Html.DisplayFor(model => model.FirstMidName) @Html.DisplayFor(model => model.LastName)</p>

    <p><b>Email:</b> @Html.DisplayFor(model => model.Email)</p>

    <p><b>Enrollment Date:</b> @Html.DisplayFor(model => model.EnrollmentDate)</p>

    <p><b>User Name:</b> @Html.DisplayFor(model => model.UserName)</p>
    
    <p><b>Address:</b></p>
        <div>
            @Html.DisplayFor(model => model.StreetAddress)<br>
                                                          @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.ZipCode)
        </div>
    
        <p><b>Phone:</b> @Html.DisplayFor(model => model.Phone)</p>
    
        <p><b>Date of Birth:</b> @Html.DisplayFor(model => model.DateOfBirth)</p>
    
        <p><b>Parish Affiliation:</b> @Html.DisplayFor(model => model.ParishAffiliation)</p>
    
        <p><b>Ministry Involvement:</b> @Html.DisplayFor(model => model.MinistryInvolvement)</p>

    @{if (User.IsInRole("Administrator"))
      {
        <!--Admin Only Section - needs links to classes-->
        <div class="display-label">
        Class History as viewed by Admins
        </div>
        <div class="display-field">
        <table>
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
                <th>Completion Date</th>
            </tr>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Course.Title, "Details", "Course", new { id = item.Course.CourseID }, "a")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.EndDate)
                    </td>
                </tr>
            }
        </table>
        </div> 
      }
      else
      {
        <div class="display-label">
        Class History
        </div>
        <div class="display-field">
        <table>
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
                <th>Completion Date</th>
            </tr>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.EndDate)
                    </td>
                </tr>
            }
        </table>
        </div>

      }
    }

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
