@model PaulSchool.ViewModels.ApplyCourseViewModel
@{
    ViewBag.Title = "ApplyToTeach";
}
<script src="@Url.Content("~/Scripts/FillCourseForm.js")" type="text/javascript"></script>
<h2>ApplyToTeach</h2>

    <div class="editor-label">
        Which class would you like to teach? (select "Custom" if you would like to submit a customized class)
    </div>

    <div class ="editor-field" id ="selectCourse">
        @Ajax.ActionLink("DO NOT Click Here to PreFill (debugging feature)", "PrefillCourse", new AjaxOptions
                                                        {
                                                            UpdateTargetId = "testDiv",
                                                            HttpMethod="GET", //default
                                                            InsertionMode= InsertionMode.Replace, //default
                                                        }))
    </div>
    <div>
            <p>Select a course from the dropdown to help you get started (or leave it as Custom to fill out all info yourself).</p>
            @Html.DropDownListFor(x => x.SelectedCourse, Model.Courses)
            @Html.ValidationMessageFor(model => model.Courses)
    </div>
    <div id="testDiv">
        area for test div
    </div>
<div id="originalForm">
@Html.Partial("_CourseForm")
</div>
<div id ="divToAppend">
</div>