@model PaulSchool.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Credits</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Credits)
    </div>

    <div class="display-label">Instructor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instructor)
    </div>

    <div class="display-label">Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">AttendingDays</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AttendingDays)
    </div>

    <div class="display-label">AttendanceCap</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AttendanceCap)
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">Location</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">Parish</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parish)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Approved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Approved)
    </div>

    <div class="display-label">Completed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Completed)
    </div>

    <div class="display-label">Archived</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Archived)
    </div>

    <div class="display-label">
    List of Students
    </div>
    <div class="display-field">
    <table>
        <tr>
            <th>First and Middle Name</th>
            <th>Last Name</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </td>
            </tr>
        }
    </table>
    </div>

    <!-- As Viewable by Admin-->
    <div class="display-label">
    List of Students as viewed by Admins
    </div>
    <div class="display-field">
    <table>
        <tr>
            <th>First and Middle Name</th>
            <th>Last Name</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Student.FirstMidName, "Details", "Student", new { id= item.Student.StudentID }, "a")
                </td>
                <td>
                    @Html.ActionLink(item.Student.LastName, "Details", "Student", new { id= item.Student.StudentID }, "a")
                </td>
            </tr>
        }
    </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
