@model PaulSchool.Models.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Instructor</legend>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">FirstMidName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstMidName)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">EnrollmentDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentDate)
    </div>

    <div class="display-label">User Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
    Classes (currently includes unapproved classes that were applied for)
    </div>
    <div class="display-field">
    <table>
        <tr>
            <th>Course Title</th>
            <th>Start Date</th>
            <th>Approved?</th>
            <th>Completed?</th>
        </tr>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Course", new { id= item.CourseID }, "a")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
            </tr>
        }
    </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InstructorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
