@model IEnumerable<PaulSchool.Models.Notification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Time
        </th>
        <th>
            Description
        </th>
        <th>
            Link
        </th>
        <th>
            ViewableBy
        </th>
        <th>
            Complete
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            <a href=@item.Link>View</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewableBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complete)
        </td>
        <td>
            @Html.ActionLink("Complete", "Complete", new { id=item.NotificationID })
            @{if (User.IsInRole("SuperAdministrator"))
              {
                  @Html.ActionLink("Delete", "Delete", new { id = item.NotificationID });                  
              }
            }
        </td>
    </tr>
}

</table>
