@model IEnumerable<PaulSchool.Models.Notification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Time
        </th>
        <th>
            Link
        </th>
        <th>
            ViewableBy
        </th>
        <th>
            Complete
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            <a href=@item.Link>"Go to issue"</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewableBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NotificationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NotificationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NotificationID })
        </td>
    </tr>
}

</table>
