@model PaulSchool.ViewModels.InstructorApplicationViewModel
@{
    ViewBag.Title = "Apply to Become an Instructor";
}
<h2>@PaulSchool.Resources.PaulSchoolResource.ApplyToBecomeInstructor_Text</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/EducationalBackgroundListEditor.js")" type="text/javascript"> </script>
@using (Html.BeginForm("ApplyToBecomeInstructor", "InstructorApplication", FormMethod.Post, new { @id = "appForm" }))
{
    <fieldset>
        <legend>@PaulSchool.Resources.PaulSchoolResource.ApplyToBecomeInstructor_Text</legend>
        <div class="editor-label">
            <p>@PaulSchool.Resources.PaulSchoolResource.Instructor_Information_Text</p>
        </div>
        @Html.HiddenFor(model => model.CurrentUserId)
        <div class="editor-label">
            <label for="EducationalBackgrounds">Educational Background</label>
        </div>
        <div class="editorRow-container">
            <h4>Every field should be complete (no blanks).</h4>
            <div id="editorRows">
                @Html.EditorFor(model => model.EducationalBackgrounds)
            </div>
        </div>
        @Html.ActionLink(@PaulSchool.Resources.PaulSchoolResource.Additional_background_Text, "EducationalBackground", null, new { id = "addItem" })
        <div class="editor-label">
            @Html.LabelFor(model => model.Experience)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Experience, Model.ExperienceList)
        </div>
        <div class="editor-label">
            @PaulSchool.Resources.PaulSchoolResource.Willing_travel_Text
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WillingToTravel)
        </div>
        <p>
            <input type="submit" value="Create" id="btnSubmit" />
        </p>
        <div class="newRow" style="display: none;">
            <div class="editorRow">
                @Html.EditorFor(model => model.EducationalBackgrounds)
            </div>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back", "Index")
</div>
<script type="text/javascript">
    instructorUrl = '@Url.Action("ApplyToBecomeInstructor", "InstructorApplication")';
    currentUser = '@Model.CurrentUserId';
</script>
