@model SampleWebsite.Mvc3.Areas.MvcMembership.Models.UserAdministration.CreateUserViewModel
@{
	ViewBag.Title = "Create New User";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">Create New User</h2>

<div class="mvcMembership-account">
	@using(Html.BeginForm("CreateUser", "UserAdministration")){ 
		@Html.ValidationSummary(true)
        <h1>WARNING</h1>
        <p>You should not be making a user here unless something has gone terribly wrong and you absolutely must create a user here.</p>
        <p>A user created here <strong>will not work appropriately</strong> with the rest of the application as is.</p>
        <p>In order to make a user that was created here function appropriately, the user <strong>must</strong> log-in and view the "Edit Profile" page, edit their profile, and save the changes <strong>before doing anything else</strong> on the web site.</p>
        <p>If the above step is not taken, a user created using this tool may cause great frustration for the Administration and Users of this web site.</p>
        <h4>Please proceed with caution</h4>
	 	<fieldset>
			@Html.EditorForModel()
		</fieldset>

		<fieldset>
			<h3 class="mvcMembership">Initial Roles</h3>
			@for(var i = 0; i < Model.InitialRoles.Count; i++){ 
				var role = Model.InitialRoles.ElementAt(i);
				<div>
					<input name="InitialRoles[@i].Key" type="hidden" value="@role.Key" />
					<label>@Html.CheckBox("InitialRoles[" + i + "].Value", role.Value) @role.Key</label>
				</div>
			}
		</fieldset>
	    <h4>Have you read the warning at the top of the page?  If you have read the warning and understand the risks involved in creating a user here, feel free to proceed.  If you do not understand - Do not proceed.</h4>
		<input type="submit" value="Create" />
	} 
</div>