@model PaulSchool.Models.CourseTemplates

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CourseTemplates</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Credits)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Credits)
            @Html.ValidationMessageFor(model => model.Credits)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Elective)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Elective)
            @Html.ValidationMessageFor(model => model.Elective)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AttendingDays)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttendingDays)
            @Html.ValidationMessageFor(model => model.AttendingDays)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AttendanceCap)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttendanceCap)
            @Html.ValidationMessageFor(model => model.AttendanceCap)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Parish)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Parish)
            @Html.ValidationMessageFor(model => model.Parish)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
