@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
@if (Request.IsAuthenticated)
{
    <p>
        This is your user name: <b>@User.Identity.Name</b>
    </p>
    <p>
        Last Name: <b>@PaulSchool.Models.CustomProfile.GetUserProfile(User.Identity.Name).LastName</b>
    </p>
    <p>
        First and Middle Name: <b>@PaulSchool.Models.CustomProfile.GetUserProfile(User.Identity.Name).FirstMidName</b>
    </p>
    <p>
        Email: <b>@ViewBag.email</b>
    </p>
    @Html.ActionLink("Edit Profile", "ChangeProfile")
    <div>
    @Html.ActionLink("Change Email", "ChangeEmail")
    </div>
}